<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="rundll32" value="C:\\Windows\\System32\\rundll32.exe" />
    <add key="photoViewerdll" value="C:\\Program Files\\Windows Photo Viewer\\PhotoViewer.dll"/>
    <add key="paint" value="C:\\Windows\\System32\\mspaint.exe"/>
  </appSettings>
</configuration>